ol {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

select {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

#creator {
    padding-top: 50px;
}

#creator #creator-outlet{
    display: flex;
    padding: 0;
    margin-top: 50px;
}

#creator .ingredients, #creator .results{
    border: 1px solid #eee;
    padding: 20px;
    flex: 1;
}

#creator .btn-close{
    float: right;
}

#creator .active-ingredient{
    display: block;
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 35px;
}

#creator .btn-add{
    margin-top: 20px;
    float: right;
}