ol {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

select {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

#creator {
    padding-top: 50px;
}

#creator #creator-outlet {
    margin-top: 50px;
}

#creator .editor{
    display: flex;
    padding: 0;
    margin: 50px 0 150px;
}

#creator .ingredients, #creator .results{
    border: 1px solid #eee;
    padding: 20px;
    flex: 1;
}

#creator .btn-close{
    float: right;
}

#creator .active-ingredient{
    margin-top: 20px;
}

#creator .btn-add{
    margin-top: 20px;
    float: right;
}

#creator .btn-order{
    float: right;
}

#creator .btn-add-removal{
    float: right;
    cursor: pointer;
}