<div class="alert alert-danger" role="alert" style="margin-top:20px">
    <strong>ATTENZIONE!</strong> Non vengono forniti resti ai pagamenti in buoni pasto!
</div>
<form id="order-form" method="post" action="/">
    <div class="container">
        <div id="container">
            <div id="creator">
                <div id="creator-outlet">
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" for="users">Seleziona:</span>
                        </div>
                        <select id="foodTypes" class="form-control" name="foodTypes" size=1></select>
                    </div>

                    <div class="editor">
                        <div class="ingredients">
                            <div class="form-group input-group mb-3" id="foodTypeDropdown"></div>

                            <p id="btnRimozioni" style="display:none">
                                <a class="btn  btn-outline-secondary" data-toggle="collapse"
                                   href="#SupplementiRimozioni" role="button"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    Rimozioni/Supplementi
                                </a>
                            </p>

                            <div class="container" style="margin-left:15px">
                                <div class="form-group collapse card card-body" id="SupplementiRimozioni">
                                    <div class="form-group input-group mb-3" id="foodTypeRimozioni"></div>
                                    <div class="form-group input-group mb-3" id="foodTypeSuplementi"></div>
                                </div>
                            </div>

                            <!-- <div class="btn-group-vertical btn-add"> -->
                            <button id="ordinaSubito" disabled class="btn btn-danger">Ordina Subito</button>
                            <button id="carrello" disabled class="btn btn-primary">Aggiungi al Carrello</button>
                            <!-- </div> -->

                        </div>
                        <div class="results">
                            <h4>Carrello</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div>
                                        <div id="orders"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<button onclick="AlbyJs.Router.navigate('crea-la-tua-pizza')" class="btn btn-primary">Crea la tua pizza</button>

<chat-outlet></chat-outlet>

</div>