<div id="menu">
    <h1>Men&ugrave;</h1>

    <table id="pizzas-menu" class="table table-striped">
        <thead class="thead-dark"><tr><th>Pizza</th><th>Price</th><th>Ingredients</th></tr></thead>
        <tbody></tbody>
    </table>

    <table id="supplements-menu" class="table table-striped">
        <thead class="thead-dark"><tr><th>Ingredient</th><th>Price</th></tr></thead>
        <tbody></tbody>
    </table>

    <table id="sandwiches-menu" class="table table-striped">
        <thead class="thead-dark"><tr><th>Sandwiches</th><th>Price</th><th>Ingredients</th></tr></thead>
        <tbody></tbody>
    </table>

    <table id="cooking-menu" class="table table-striped">
        <thead class="thead-dark"><tr><th>Cooking</th><th>Price</th></tr></thead>
        <tbody></tbody>
    </table>

    <table id="desserts-menu" class="table table-striped">
        <thead class="thead-dark"><tr><th>Desserts</th><th>Price</th></tr></thead>
        <tbody></tbody>
    </table>

</div>